/* The theme-button__switch - the box around the theme-button__slider */
.theme-button__switch {
  user-select: none;
  margin: auto 0;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.theme-button__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The theme-button__slider */
.theme-button__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.theme-button__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-element-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .theme-button__slider {
  background-color: var(--color-secondary);
}

input:focus + .theme-button__slider {
  box-shadow: 0 0 1px var(--color-secondary);
}

input:checked + .theme-button__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
