@import 'normalize.css';

@import './scss/fonts.scss';

@import './scss/reset.scss';

// * {
//   outline: 1px solid red;
// }

:root {
  --font-family-main: 'Montserrat', sans-serif;
  --font-size-main: 1rem;
  --font-weight-main: 400;
  --font-line-height-main: 1.4;

  --color-secondary: #fc0;
  --color-warning: #e34d38;

  --color-dark-preloader-shadow: rgba(0, 0, 0, 0.5);
  --color-light-preloader-shadow: rgba(255, 255, 255, 0.5);
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #f3f2ef;
  --color-grey-one: rgba(34, 34, 34, 0.12);
  --color-dark-one: #252525;
  --color-dark-two: #323232;
  --color-secondary-selected: #f1de9b;
  --color-secondary-active: #f26d00;
  --color-dark-shadow: rgb(0 0 0 / 12%);
  --color-light-shadow: rgba(255, 255, 255, 0.04);

  --heder-height: 40px;
  --footer-height: 100px;
  --container-width: 100%;
  --card-space: 5px;

  @media (min-width: 576px) {
    & {
      --container-width: 540px;
    }
  }

  @media (min-width: 768px) {
    & {
      --container-width: 720px;
      --heder-height: 50px;
    }
  }

  @media (min-width: 992px) {
    & {
      --container-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    & {
      --container-width: 1140px;
      --heder-height: 60px;
    }
  }
}

* {
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  font-weight: var(--font-size-main);
  line-height: var(--font-line-height-main);
  color: var(--color-font);
}
body {
  background: var(--color-background);
}
.container {
  width: var(--container-width);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.page {
  margin-top: calc(var(--heder-height) + var(--card-space));
  margin-bottom: var(--card-space);
  min-height: calc(100vh - var(--heder-height) - var(--footer-height) - 2 * var(--card-space));
}
.link {
  fill: var(--color-link);
  color: var(--color-link);
  transition: 0.4s ease-in-out;
  &:hover {
    fill: var(--color-link-hover);
    color: var(--color-link-hover);
  }
  &.active {
    fill: var(--color-warning);
    color: var(--color-warning);
  }
}
